.c-single {
    &__inner {
        max-width: var(--reading);
        margin: auto;
        padding: 120px 20px 60px;
    }

    &__title {
        font-size: 32px;
        text-transform: uppercase;
        color: var(--primary);
        font-family: var(--font-playfair);
    }

    &__img {
        width: 100%;
    }

    &__body {
        h2, h3, h4, h5 {
            margin-top: 25px;
            font-family: var(--font-playfair);
        }

        h2 {
            color: var(--primary);
        }

        h6 {
            margin-bottom: 0;
            text-transform: uppercase;
        }

        ul {
            padding-left: 20px;
        }
    }

    a {
        color: var(--primary);

        &:hover {
            text-decoration: none;
        }
    }
}
