{% extends "components/base/base.twig" %}

{% block content %}
	<div class="c-home">
		<div class="c-home__inner c-page--{{post.post_type}}" id="post-{{post.ID}}">
			<h2 class="c-home__title">Blog</h2>

			{% include 'components/feed/feed.twig' with {
				class: 'c-home',
				items: posts
			} %}

		</div>
	</div>
{% endblock %}
