<!DOCTYPE html>
<html {{ site.language_attributes }} prefix="og: http://ogp.me/ns#">

	{% block head %}
		{% include 'components/base/html-header.twig' %}
	{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">

		{% block header %}
			{% include "components/masthead/masthead.twig" %}
		{% endblock %}

		<main role="main" class="content-wrapper">
			{% block content %}{% endblock %}
		</main>

		<footer id="footer">
			{% include 'components/base/footer.twig' %}
		</footer>

		{{ function('wp_footer') }}
	</body>
</html>
