.c-form {
    &__input-group {
        margin-bottom: 5px;
    }

    &__input {
        width: 95%;
        font-size: 14px;
        padding: 6px 10px 6px;
        outline: none;
        border: 1px solid var(--white);

        &:hover,
        &:focus {
            border-color: var(--secondary);
        }

        &--terms {
            width: 1px;
            height: 1px;
            position: absolute;
            visibility: hidden;

            &:checked + .c-form__input--checkmark::after {
                background-color: var(--primary);
            }
        }

        &--checkmark {
            position: absolute;
            top: 4px;
            left: 0;
            display: block;
            width: 12px;
            height: 12px;
            background-color: var(--secondary);

            &::after {
                content: '';
                position: absolute;
                top: 2px;
                left: 2px;
                display: block;
                width: 8px;
                height: 8px;
                background-color: transparent;
            }
        }
    }

    &__label {
        &--terms {
            position: relative;
            padding-left: 20px;

            a {
                color: var(--white);

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    &__submit {
        margin-top: 20px;
    }
}
