.tease {
    &__title {
        font-family: var(--font-playfair);

        a {
            color: var(--primary);

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__img {
        max-width: 100%;
    }

    &__btn {
        margin-top: 20px;
    }

    &__category-name {
        padding: 3px 5px 4px;
        border-radius: 4px;
        background-color: var(--secondary);
        color: var(--black);
        font-size: 11px;
        text-decoration: none;

        &:hover {
            opacity: 0.7;
        }
    }

    &--post {

    }
}
