<div class="c-newsletter" id="newsletter">
    <div class="c-newsletter__inner" data-animate="fadeUp">
        <div class="c-newsletter__title">Receive our news!</div>
        {% include 'components/forms/form-newsletter.twig'  %}
    </div>
</div>
